@import "reset.css";

@keyframes swing {
  50% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.active {
  color: #ada074;
}

body {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  background: url('../img/BG-Header.png')0 0/cover no-repeat;
  text-align: center;
  height: 1080px;
}

.header__logo {
  height: 281px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.header__discription {
  padding-top: 160px;
  color: #ffffff;
}

.header__discription h2 {
  font-weight: 900;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  line-height: 40px;
}

.header__discription h3 {
  font-weight: 400;
  font-size: 26px;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 275px;
  letter-spacing: 0.16em;
  line-height: 40px;
}

.header__discription h3:after {
  content: " ";
  background: #ffffff;
  display: block;
  height: 2px;
  width: 105px;
  position: absolute;
  left: 50%;
  margin-left: -43px;
  bottom: 0;
}

.button {
  display: grid;
  place-items: center;
  padding: 15px 0;
  height: 45px;
  width: 180px;
  margin: 0 auto;
  border: #ffffff solid 1px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.06em;
  transition: all 300ms ease-in-out;
  background: none;
}

.button:hover {
  transition: all 300ms ease-in-out;
  color: #636b91;
  background: #ffffff;
}

.arrow-down {
  display: inline-block;
  padding-top: 75px;
  animation: swing 1.5s ease;
  animation-iteration-count: infinite;
}

.menu {
  height: 59px;
  border-bottom: 1px #f2f2f2 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu ul li {
  cursor: pointer;
  padding: 0px 25px;
  font-size: 15px;
  font-weight: 400;
  color: #3c3c3c;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.menu ul li:hover {
  color: #ada074;
  transition: all 300ms ease-in-out;
}

.about {
  text-align: center;
  height: 770px;
}

.about__title {
  margin-top: 125px;
  color: #000000;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 0.16em;
  position: relative;
  padding-bottom: 35px;
}

.about__title:after {
  content: " ";
  background: #000000;
  display: block;
  height: 1px;
  width: 81px;
  position: absolute;
  left: 50%;
  margin-left: -43px;
  bottom: 0;
}

.about__description {
  padding-top: 40px;
  padding-bottom: 65px;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

.about__list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.about__element {
  width: 33.3%;
}

.about__element-img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 92px;
  border-radius: 50%;
  border: 2px #f0f0f0 solid;
}

.about__element-title {
  padding-top: 40px;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.16em;
}

.about__element-text {
  padding-top: 40px;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

.porfolio {
  text-align: center;
  background: #f3f3f3;
  height: 1670px;
}

.porfolio__title {
  padding-top: 105px;
  color: #000000;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 0.16em;
  position: relative;
  padding-bottom: 40px;
}

.porfolio__name:after {
  content: " ";
  background: #000000;
  display: block;
  height: 1px;
  width: 81px;
  position: absolute;
  left: 50%;
  margin-left: -43px;
  bottom: 0;
}

.porfolio__menu {
  margin-top: 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.porfolio__menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.porfolio__menu ul li {
  padding: 0px 25px;
  font-size: 15px;
  font-weight: 400;
  color: #3c3c3c;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.porfolio__menu ul li:hover {
  color: #ada074;
  transition: all 300ms ease-in-out;
}


.porfolio__galery {
  padding-top: 76px;
  margin: 0 auto;
  max-width: 1150px;
  /*ИСПРАВИТЬ ШИРИНУ*/
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.porfolio__galery div {
  cursor: pointer;
  margin: 14px;
  background: #eaeaea;
  height: 363px;
  width: 536px;
}

.porfolio__galery div img {
  max-width: 100%;
  max-height: 100%;
}

.porfolio__button {
  padding: 15px 0;
  height: 45px;
  width: 180px;
  margin: 0 auto;
  border: #000000 solid 1px;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.06em;
  transition: all 300ms ease-in-out;
}

.porfolio__button:hover {
  transition: all 300ms ease-in-out;
  color: #ada074;
  background: #eaeaea;
  border: #ada074 solid 1px;
}

.partners {
  text-align: center;
  height: 390px;
  background: url('../img/BG-Header-copy.png')0 0/cover no-repeat;
}

.partners__title {
  padding-top: 95px;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.06em;
  padding-bottom: 90px;
}

.partners__img {
  padding-left: 15%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact {
  margin: 0 auto;
  height: 825px;
}

.contact__wrapper {
  margin-top: 120px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.contact__title {
  text-align: center;
  padding-top: 180px;
  color: #000000;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 0.16em;
  position: relative;
  padding-bottom: 45px;
}

.contact__title:after {
  content: " ";
  background: #000000;
  display: block;
  height: 1px;
  width: 81px;
  position: absolute;
  left: 50%;
  margin-left: -43px;
  bottom: 0;
}

.contact__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #000000;
  padding-bottom: 40px;
}

.contact__name {
  font-size: 14px;
  font-weight: 900;
  line-height: 26px;
  color: #000000;
  padding-bottom: 25px;
}

.contact__img {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact__img div {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 2px #000000 solid;
  border-radius: 100%;
}

.contact__email {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #000000;
}

.contact__email a {
  font-weight: 900;
}

.contact__description {
  margin: 0 auto;
}

.contact__input {
  max-width: 382px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.contact__input div {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.06em;
  font-weight: 900;
}

.contact__input-email {
  margin-left: 60px;
}

.contact__input-textarea {
  margin-top: 75px;
}

.contact__input input[type="text"] {
  margin-top: 18px;
  height: 35px;
  width: 160px;
  border-top: 1px #000000 solid;
  background: #f8f7f7;
}

.contact__input input[type="email"] {
  margin-top: 18px;
  height: 35px;
  width: 160px;
  border-top: 1px #000000 solid;
  background: #f8f7f7;
}

.contact__input textarea {
  margin-top: 18px;
  width: 382px;
  height: 118px;
  border-top: 1px #000000 solid;
  background: #f8f7f7;
  resize: none;
}

.contact__input input[type="submit"] {
  margin-top: 40px;
  background: none;
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.contact__input input[type="submit"]:hover {
  color: #000000;
  font-size: 16px;
  transition: all 300ms ease-in-out;
}

.footer {
  background: #3c3c3c;
  height: 275px;
  text-align: center;
}

.footer__logo {
  padding-top: 50px;
}

.footer__menu {
  padding-top: 40px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__menu ul li {
  padding: 0px 25px;
  font-size: 14px;
  font-weight: 400;
  color: #a4a4a4;
  transition: all 300ms ease-in-out;
}

.footer__menu ul li:hover {
  color: #ffffff;
  transition: all 300ms ease-in-out;
}

.footer__copy {
  padding-top: 35px;
  font-family: Myriad;
  font-size: 14px;
  color: #6c6c6c;
}